body {
  padding-top: 50px;
}

section {
	padding:40px 0 40px 0;
}
.em-text{
	color:#1caa98 !Important;
}

.jumbotron{
	background: url(../img/site_showcase_bg.jpg) no-repeat top center;
	color:#fff;
	height:585px;
	overflow: none;
}

.jumbotron h1{
	margin-top:60px;
}

.jumbotron p{
	margin-bottom:40px;

}

.jumbotron img.app-btn{
	width:40%;
	margin-right:30px;
}
.jumbotron img.showcase-img{
	width:75%;
} 
img.demo{
	width:100%;
	padding:3px;
	border: 1px solid #ccc;
}
section#feature{
	background:#1caa98;
	color:#fff;
	padding:40px;
	overflow: auto;

}
section#feature ul li{
	font-size:22px;
	list-style: none;
	line-height: 2.0em;


}

section#title-bar{
	padding:0;
	margin:0;
	height:80px;
	background:#1caa98;
	color:#fff; 
}
section#title-bar h1{
	margin-bottom:20px;

}
footer{
	background: #333;
	color:#fff;
	padding:30px 0 10px 0 10px;
}

footer li{
	float:left;
	padding: 0 10px 0 10px;
	list-style: none;
}

footer a {
	color: #fff;

}

footer p{
	float: right;
}

/* MEDIA QUEIES */

@media(max-width: 1200px){

}

@media(max-width: 991px){
	
}

@media(max-width: 768px) and (max-width: 990px){
	body {display:none !Important}
}